apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- base/namespace.yaml
- https://github.com/argoproj/argo-cd/manifests/cluster-install?ref=stable

patches:
- path: overlays/argocd-cm.yaml
